.nav {
  grid-area: n;
  background-color: #f2f2f2;
  padding: 20px;
}

.item a{
  color: #26333b;
  text-decoration: none;

  font-size: 17px;
  font-weight: 700;
}

.item {
  padding: 15px;
}

.item a.activeLink{
  color: #2d6ff7;
  padding: 15px;
}

